.product-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  background: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.03);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: box-shadow 0.3s ease;
  justify-content: center;
}

.product-card:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
}

.product-card img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin-bottom: 10px;
}

.product-card h3 {
  font-size: 14px;
  width: 100%;
  font-weight: 600;
  color: #333;
  text-align: center;
  overflow: hidden;
  margin-bottom: 15px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;

  -webkit-line-clamp: 1;
  text-overflow: ellipsis;
}

.product-card p {
  font-size: 14px;
  color: #555;
}

.product-rating {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #f5a623;
  font-weight: 500;
  font-size: 14px;
}

.star-icon {
  color: #f5a623;
}

.product-card button {
  margin-top: auto;
  padding: 8px 12px;
  background: #2874f0;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
  width: 100%;
  transition: background 0.3s ease;
}

.product-card button:hover {
  background: #0f5ab7;
}

@media (max-width: 768px) {
  .product-card img {
    width: 80px;
    height: 80px;
  }

  .product-card h3 {
    font-size: 13px;
    height: auto;
  }

  .product-card p {
    font-size: 13px;
  }

  .product-rating {
    font-size: 13px;
  }
}

@media (max-width: 480px) {
  .product-card {
    padding: 12px;
  }

  .product-card img {
    width: 70px;
    height: 70px;
  }

  .product-card button {
    padding: 8px;
    font-size: 13px;
  }
}